<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body style="margin:0">
    <div id="root"></div>
  </body>
  <script>
    if ("serviceWorker" in navigator) {
      window.addEventListener("load", function() {
        navigator.serviceWorker.register("/sw.js").then(
          function(registration) {
            console.log(
              "ServiceWorker registration successful with scope: ",
              registration.scope
            )
          },
          function(err) {
            console.log("ServiceWorker registration failed: ", err)
          }
        )
      })
    }
  </script>
</html>
